{% extends 'base.html' %}
{% load common_filters %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header">
            <div>
                <div class="display-6 text-center">
                    {{ title }}
                    <a class="link-secondary" href="{% url 'card_delete' card.id %}">
                        <i class="text-danger ms-2 float-end bi bi-x-lg"></i>
                    </a>
                    <a class="link-secondary" href="{% url 'card_edit' card.id %}">
                        <i class="float-end bi bi-gear"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <td>остаток топлива на 1 число месяца:</td>
                    <td><span class="float-end badge bg-secondary">{{ card.remaining_fuel }} л</span></td>
                </tr>
                <tr>
                    <td>пробег на 1 число месяца:</td>
                    <td><span class="float-end badge bg-secondary">{{ card.mileage }} км</span></td>
                </tr>
                <tr>
                    <td>норма расхода топлива:</td>
                    <td><span class="float-end badge bg-secondary">{{ card.norm }}</span></td>
                </tr>
                <tr>
                    <td>топливо в баках:</td>
                    <td><span class="float-end badge {% if fuel_in_tanks < 0 %} bg-danger {% elif fuel_in_tanks < 100 %} bg-warning {% else %} bg-secondary {% endif %} ">{{ fuel_in_tanks }} л</span></td>
                </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between">
                <a href="{% url 'departure_add' card.id %}" class="btn btn-secondary">+ Выезд</a>
                <a href="#" class="btn btn-secondary">+ ЕТО</a>
                <a href="#" class="btn btn-secondary">+ Дозор</a>
            </div>
        </div>


    </div>

    <div class="accordion" id="accordionExample">

        {% for deps in departures %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="bg-secondary accordion-button {% if not forloop.first %} collapsed {% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ forloop.counter }}"
                            aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}"
                            aria-controls="{{ forloop.counter }}">
                        <span class=" h4 text-white">{{ deps.0.date }} - ({{ deps|length }})</span>
                    </button>
                </h2>
                <div id="{{ forloop.counter }}"
                     class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">


                        <table class="table  table-striped">
                            <tbody>
                            {% for dep in deps %}
                                <tr>
                                    <td>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-10">
                                                <a class="btn" href="{% url 'departure_detail' dep.pk %}"><span
                                                        class="h5">{{ dep.show_departure }}</span></a>
                                            </div>
                                            <div class="col">
                                                <a class="link-secondary" href="{% url 'departure_delete' dep.pk %}">
                                                    <i class="text-danger float-end bi bi-x-lg"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    {% pagination %}

    {% if departures %}
        <div class="row">
            <div class="col d-flex justify-content-between mx-3 my-3">
                <a href="{% url 'departure_add' card.id %}" class="btn btn-secondary">+ Выезд</a>
                <a href="#" class="btn btn-secondary">+ ЕТО</a>
                <a href="#" class="btn btn-secondary">+ Дозор</a>
            </div>
        </div>
    {% endif %}

{% endblock %}
