{% extends 'base.html' %}
{% load social_share %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Main page</h1>
    <ul>
        <li>
            <form id="logout-form" action="{% url 'users:logout' %}" method="post">
                <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
                {% csrf_token %}
            </form>
            {% post_to_whatsapp 'short_report' "Share nterest object_or_url" %}
        </li>
    </ul>
{% endblock %}